<div>
<div>
<b> <% @user.name %> </b>
<p class="post"> <%= @post.text %> </p>
</div>
<ul class="comments">
<% @comments.each do |comment| %>
    <li> <%= comment.user.name %>: <%= comment.text %> </li>
    <% end %>
</ul>

</div>